/* html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ccc;
} */

.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.heading {
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: min(9vh, 9vw);
  font-weight: 900;
  padding-top: 2vh;
  padding-bottom: 3vh;
}

.game {
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

.letterbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  width: 10vw;
  height: 10vw;
  background-color: rgb(239, 216, 10);
  border-radius: 50%; /* Makes the element circular */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6.7vw;
  font-weight: 900;
  cursor: pointer;
  user-select: none;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: min(0.8vh, 0.8vw);
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: min(0.8vh, 0.8vw);
}

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.help {
  width: min(8vh, 8vw);
  height: min(8vh, 8vw);
  border-radius: 50%;
  border: 3px solid rgb(239, 216, 10);
  font-size: min(5.4vh, 5.4vw);
  font-weight: 500;
  display: flex;
  justify-content: center;
  place-items: center;
  position: fixed;
  top: min(2vh, 2vw);
  right: min(2vh, 2vw);
  background-color: rgb(239, 216, 10);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.modal-text {
  font-size: 16px;
  line-height: 1.5;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  color: #555;
}

.prompt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(239, 216, 10); /* Semi-transparent overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Ensure it's on top of other content */
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease; /* Adjust the duration and timing function as needed */
}

.prompt.hidden {
  opacity: 0;
}

.icon-circle {
  width: min(4vh, 4vw);
  height: min(4vh, 4vw);
  background-color: black;
  border-radius: 50%; /* Makes the element circular */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: min(2vh, 2vw);
  font-weight: 400;
  cursor: default;
  min-width: "unset";
  padding: "0";
}

.play-button {
  position: relative;
  border: none;
  height: 3em;
  border-radius: 1.5em;
  align-content: center;
  letter-spacing: .05em;
  margin: 0 10px 8px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 28px;
  margin-bottom: 8px;
  cursor: pointer;
  padding: 0 2em;
}

.grid-size-container{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.size-number{
  width: min(10vh, 10vw);
  height: min(10vh, 10vw);
  border-radius: 50%;
  border: 3px solid black;
  font-size: min(5vh, 5vw);
  justify-content: center;
  text-align: center;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  margin: 5px;
}

.dragged-element {
  opacity: 1.0;
}